.pattern-input {
  position: relative;
  overflow: hidden;
}

.pattern-input::before {
  content: '';
  position: absolute;
  background: linear-gradient(transparent, var(--bg));
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
}

.pattern-input__list {
  overflow: auto;
  height: 100%;
  padding-bottom: 5%;
}

.pattern-input__row {
  display: flex;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--space-sm);
  margin-bottom: 1em;
}

.pattern-input__row--full {
  border: none;
  padding: 0;
}

.pattern-input__row--full button {
  width: 100%;
  background-color: var(--accent);
  border: var(--border);
  padding: var(--space-sm);
  border-radius: var(--border-radius-sm);
}

.pattern-input__row label {
  font-size: .5em;
}

.pattern-input__input-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: var(--space-sm);
}

.pattern-input__input-group--match:not(:only-of-type) {
  display: none;
}

.pattern-input__input-group input {
  min-width: 0;
  width: 100%;
  border: none;
  border-bottom: var(--border);
  font-size: 1.5em;
}

.pattern-input__input-group input:focus {
  outline: none;
}

.pattern-input__input-group > input:focus {
  border-bottom: var(--border-focus);
}

.pattern-input__regex {
  padding: 1px 2px 2px 2px;
  font-size: 1.5rem;
  display: flex;
  position: relative;
}

.pattern-input__regex,
.pattern-input__flag {
  color: var(--gray);
}

.pattern-input__regex input {
  display: inline;
  padding: 0;
  font-size: 1.5rem;
  border: none;
}

.pattern-input__regex .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: var(--border);
}

.pattern-input__regex input:focus ~ .underline {
  border-bottom: var(--border-focus);
}


@media only screen and (min-width: 800px) {
  .pattern-input__input-group--match:not(:only-of-type) {
    display: flex;
  }  
}