.pattern-input {
  position: relative;
  overflow: hidden;
}

.pattern-input::before {
  content: '';
  position: absolute;
  background: linear-gradient(transparent, var(--bg));
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
}

.pattern-input__list {
  overflow: auto;
  height: 100%;
  padding-bottom: 5%;
}
