.text-display__container {
  display: flex;
}

.text-display {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-display:first-child:not(:only-child) {
  margin-right: var(--space-sm);
}

.text-display__label {
  margin: 0;
  margin-bottom: var(--space-xs);
}

.text-display__content {
  position: relative;
  flex: 1;
}

.text-display__content textarea {
  background: none;
  resize: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0.5em;
  border: none;
}

.text-display--input:not(:only-child) {
  display: none;
}

textarea.text-display__top {
  border: var(--border);
  border-radius: var(--border-radius);
}

.text-display__top:focus {
  outline: none;
  border: var(--border-focus);
}

.text-display__highlight-overlay {
  color: transparent;
  z-index: -1;
}

@media only screen and (min-width: 800px) {
  .text-display.text-display--input {
    display: flex;
  }
}