.bottom-nav {
  border-top: var(--border);
}

.bottom-nav__list {
  height: 50px;
  display: flex;
  align-items: center;
}

.bottom-nav__item {
  border-right: var(--border);
  flex: 1;
  text-align: center;
}

.bottom-nav__item:last-child {
  border: none;
}

@media only screen and (min-width: 800px) {
  .bottom-nav {
    display: none;
  }
}