.app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 4fr 6fr auto;
  row-gap: 1em;
  background: var(--bg);
}

.top-nav {
  height: 50px;
  padding: 0 1em;
  border-bottom: var(--border);
}