.app {
  display: grid;
  flex-direction: column;
  height: 100vh;
  grid-template-rows: auto 4fr 6fr auto;
  row-gap: 1em;
  background: var(--bg);
}

.top-nav {
  height: 50px;
  padding: 0 1em;
  border-bottom: var(--border);
}

.bottom-nav {
  padding: 0 1em;
  border-top: var(--border);
}

.bottom-nav__list {
  height: 50px;
  display: flex;
  align-items: center;
}

.bottom-nav__item {
  border-right: var(--border);
  flex: 1;
  text-align: center;
}

.bottom-nav__item:last-child {
  border: none;
}