:root {
  --bg: white;
  --accent: gold;
  --primary: lightgray;
  --dark: #272727;
  --blue: #009fb7;
  --gray: #696773;

  --space-xs: .25rem;
  --space-sm: .5rem;
  --space: 1rem;
  --border: 1px solid gray;
  --border-focus: 1px solid var(--accent);
  --border-radius-sm: 0.3rem;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  color: var(--dark);
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}