* {
  box-sizing: border-box;
}

:root {
  --bg: white;
  --accent: gold;
  --space-sm: .5em;
  --space: 1em;
  --border: 1px solid gray;
  --border-focus: 1px solid gold;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}