:root {
  --blue: #009fb7;
  --gray: #696773;
  --red: #E84855;

  --bg: white;
  --accent: gold;
  --primary: lightgray;
  --danger: var(--red);
  --light: #dddddd;
  --dark: #272727;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space: 1rem;
  --border: 1px solid var(--gray);
  --border-focus: 1px solid var(--accent);
  --border-radius-sm: 0.3rem;
  --border-radius: 0.5rem;

  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.5rem;
}

* {
  box-sizing: border-box;
  color: var(--dark);
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-size: 1.25rem;
  border: var(--border);
  border-radius: var(--border-radius-sm);
}

.button--transparent {
  border: none;
  background: none;
}

input::placeholder {
  color: var(--gray);
}

textarea {
  font-size: var(--font-md);
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: var(--light);
  margin: var(--space-xs);
  padding: var(--space-xs);
}